@{
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<h1 style="color: yellow; background-color: deepskyblue">Đang Xuất hiện Tình Trang Lỗi, Vui Lòng Quay Lại</h1>
<h1 style="color: red">Xuất hiện Tình Trạng Lỗi hệ Thống</h1>
<h1 style="color: red">@ViewBag.err1</h1>
<h1 style="color: red">@ViewBag.err2</h1>
<h1 style="color: red">@ViewBag.err3</h1>
<h1 style="color: red">@ViewBag.err5</h1>